

.card-ul{
   
  display: inline-block;
    list-style: none;
}
.card-li{
    display: inline-block;
}
@media only screen and (max-width: 450px) {
    .card-ul{
   
        display: inline-block;
          list-style: none;
          width: 100%;
      }
  }

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    display: inline-block;
    margin:20px;
  
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);

  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 50%;
  }
  .flip-card img{
    border-radius: 50%;
      width:300px;
      height: 300px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color: black;

  }
  
  /* Style the back side */
  .flip-card-back {

    background-color: rgb(0 0 0 / 8%);
    transform: rotateY(180deg);
  }

  .card-link{
    color: #17a2b8;
    text-decoration: none;
    background-color: transparent;
  }
  .card-link:hover{
    color: #17a2b8;
    text-decoration: underline;
    background-color: transparent;
  }
  .circle {
    background: #456BD9;
    border-radius: 50%;
    color: #fff;
    height: 300px;
    position: relative;
    width: 300px;
  }
  
  .circle-content {
    hyphens: auto;
    margin: 0.75em;
    text-align: center;
  }
  
  @supports (shape-outside: circle(50%)) {
    .circle-content {
      height: 100%;
      margin: 0;
    }
    
    .circle::before,
    .circle-content::before {
      content: "";
      height: 100%;
      width: 50%;
    }
    
    .circle::before {
      float: left;
      shape-outside: polygon(
        0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%,
        5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%
      );
    }
    
    .circle-content::before {
      float: right;
      shape-outside: polygon(
        100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%,
        95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%
      );
    }
  }
