.ekko-lightbox a {
    opacity: 1;
    text-decoration: none;
  
}
.ekko-lightbox a:hover {
    opacity: 1;
    cursor: default;
    text-decoration: none;
}
.ekko-lightbox a span:hover {
    opacity: 1;
    cursor: pointer;
    text-decoration: none;
}
.ekko-lightbox-nav-overlay a span {
    padding: 0 1px;
}
.ekko-lightbox-nav-overlay a:last-child span {
    text-align: right;
   position: absolute;
   right: 0px;
    left: auto;
}

.ekko-lightbox-nav-overlay a>* {
    -ms-flex-positive: 1;
    flex-grow: 0;
}
.img-fluid{
    min-height: 200px;
}

@media screen and (max-width: 767px) {
  .gallery{
      display: inline-flex;
  }
  .row{
      margin-right: 0px;
      margin-left:0px;
  }
  .col-md-8{
      padding-left: 5px;
      padding-right:5px;
  }
  .col-sm-4{
    padding-left: 5px;
    padding-right:5px;
}
   .gallery a {
       padding-bottom: 15px;
   }
}

@media screen and (min-width: 768px){
    .gallery {
            a{
                padding-right:0px;
            
              
            }
        }
        .col-sm-4 {
            padding-top: 2%;
        }
        
}

