.ekko-lightbox a {
    opacity: 1;
    text-decoration: none;
  
}
.ekko-lightbox a:hover {
    opacity: 1;
    cursor: default;
    text-decoration: none;
}
.ekko-lightbox a span:hover {
    opacity: 1;
    cursor: pointer;
    text-decoration: none;
}
.ekko-lightbox-nav-overlay a span {
    padding: 0 1px;
}
.ekko-lightbox-nav-overlay a:last-child span {
    text-align: right;
   position: absolute;
   right: 0px;
    left: auto;
}

.ekko-lightbox-nav-overlay a>* {
    -ms-flex-positive: 1;
    flex-grow: 0;
}

.gallery a{
padding-bottom: 1.5rem;
}
.gallery a img{
   min-height: 240px;
   max-height:500px;
}

