.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: x-large;
  font-weight: bolder;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

ul {
  padding: 0;
}
.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #95a5a66e;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .odd-row {
    background-color: #95a5a66e;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .col {
    text-align: left;
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 40%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    text-align: right;
    flex-basis: 25%;
  }

  @media all and (max-width: 767px) {
    .container {
      font-size: medium;
    }
    li {
      display: flex;
    }
    .col {
      flex-basis: 100%;
      font-size: medium;
    }
    .col-4 {
      font-size: medium;
    }
    .col {
      padding: 10px 0;
      &:before {
        color: #6c7a89;
        padding-right: 10px;
        flex-basis: 50%;
        text-align: left;
      }
    }
  }
}
