.App {
  text-align: center;
  font-family: 'Pattaya', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




.navbar {
  margin: 20px 0px 20px ;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 30px;
  color: black;
}
.navbar-dark .navbar-nav .nav-link:hover  {
  font-size: 30px;
text-decoration: underline;
  color: black;
}
.navbar-dark .navbar-nav .nav-link:focus  {
  font-size: 30px;

  color: black;
}
.call {
margin-top:-50px;
margin-left:20px;
  float:left;
  animation: pulse 1s infinite;
}
.viber {
  margin-top:-50px;
  margin-right:20px;
  float: right;
  animation: pulse 1s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
    
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.btn-stt,.btn-stt:focus {
  display: none; 
  position: fixed; 
  bottom: 20px;
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  cursor: pointer; 
  background-color: #ffaa33;
  color: #6c757d;
  border-radius: 5px; 
  width: 50px;
  height: 50px;
  font-size: x-large;
  transform: rotate(-90deg);
}
.btn-stt:hover {
  background-color: #6c757d;
  color: #fff;
  outline: none;
}
.social {
  margin-right:10px
}
.navbar-dark .navbar-toggler-icon {
  background-image: url(./utils//menu.png);
}
@media (min-width: 768px) {
  .call {
    display:none;
  }
  .viber {
  display:none;
  }
  .navbar .navbar-nav {
      text-align: center;
      display: inline-block;
      float: none;
      vertical-align: top;
      width:100%;
  }
  .navbar .navbar-collapse {
      text-align: center;
  }
  .nav-item{
    display: inline-block;
    margin-right:20px
  }
}
.img{
  max-width:95%
}
.hydrated {
  --handle-color: #d7d7d7;
  --divider-color: #d7d7d7;
  --handle-opacity: none;
  --handle-opacity-active: 'none';
}
.hydrated:focus{
  outline:none
}




