.App {
  text-align: center;
  font-family: 'Pattaya', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  margin: 20px 0px 20px;
  display: flex;
  justify-content: flex-end;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 30px;
  color: black;
}

.navbar-dark .navbar-nav .nav-link:hover {
  font-size: 30px;
  text-decoration: underline;
  color: black;
}

.navbar-dark .navbar-nav .nav-link:focus {
  font-size: 30px;
  color: black;
}

.call {
  margin-top: -50px;
  margin-left: 20px;
  float: left;
  animation: pulse 1s infinite;
}

.messenger {
  margin-top: -50px;
  margin-right: 20px;
  float: right;
  animation: pulse 1s infinite;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
  outline: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.btn-stt,
.btn-stt:focus {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: x-large;
  transform: rotate(-90deg);
}

@media (hover: hover) {
  .btn-stt:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
  }
}

.social {
  margin-right: 10px;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url(./utils//menu.png);
}

.navbar-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.map {
  border: 2px solid black;
  margin-top: 20px;
  max-width: 99%;
}

hr {
  max-width: 99%;
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.img {
  width: 100%;
}
.leaflet-container {
  width: 90vw;
  display: inline-block;
  height: 50vh;
}

@media (min-width: 768px) {
  .call {
    display: none;
  }
  .messenger {
    display: none;
  }
  .navbar .navbar-nav {
    text-align: center;
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 100%;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  .nav-item {
    display: inline-block;
    margin-right: 20px;
  }
  .map {
    border: 2px solid black;
    margin-top: 20px;
    max-width: 50%;
  }
  hr {
    max-width: 50%;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  }
  .img {
    min-width: 90vw;
  }
  .leaflet-container {
    width: 80%;
    display: inline-block;
    height: 500px;
  }
}

.hydrated {
  --handle-color: #d7d7d7;
  --divider-color: #fff;
  --handle-opacity: none;
  --handle-opacity-active: 'none';
}

.hydrated:focus {
  outline: none;
}

.page-header {
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: underline;
}

span {
  font-size: x-large;
}

.navbar-toggler[aria-expanded='true'] .navbar-toggler-icon {
  background-image: url('./utils/close.png');
}

.navbar-dark .navbar-toggler-icon {
  background-image: url('./utils/menu.png');
}
.slick-dots,
.slick-next,
.slick-prev {
  position: sticky;
  padding: 0;
}
.social-container {
  z-index: 0;
  position: absolute;
}
.not-found img {
  max-height: 80vh;
  min-height: 50vh;
  max-width: 90vw;
  min-width: 50vw;
}
hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
